body{font-family: 'Nunito', sans-serif;margin: 0px;padding: 0px}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
	
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.para-about{text-align: justify}
.card-text {
  margin-top: 40px;
  margin-bottom: 1rem;
}

/*.btn:not(:disabled):not(.disabled) {
  background-color: #363636;
  font-size: 12px;
  margin-top:20px;
}
*/
.text-left {
  margin-top: 40px;
}
.carousel-caption{top:50%}
@media only screen and (max-width: 768px) {
     .carousel-caption{top:30%}
	h1{font-size: 1.5rem!important;}
	
}
#about {
  margin-top: 120px;
}

.h2, h2 {
  margin-top: 30px;
}
.para-about{margin-top: 10%;font-size: 15px}
.btn:not(:disabled):not(.disabled) {
  margin-top: 30px;
}

#our-menu {
  margin-top: 120px;
}
/*.menu-heading{top:50%;z-index: 2;width: 100%;padding: 10px;}*/
.menu-head{top:50%;z-index: 2;width: 100%;padding: 10px;background-color: white;opacity: 0.7}

.h2, h2 {
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {

	.about-h2{text-align: center}
	.btn{display: table;margin: auto}
}

@media only screen and (max-width: 600px) {

	.para-about{font-size: 12px}
	
}
/*our-menu*/
.menu-para{text-align: justify}
@media only screen and (max-width: 768px) {

	.about-h2{text-align: center}
	.btn{display: table;margin: auto}
}

@media only screen and (max-width: 600px) {

	.menu-para{font-size: 12px}
	.h2, h2 {
  font-size: 20px;
}
}



/*.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: inline-block;
  width: 25%;
}*/
/*.chef-sec{margin-left:12%}*/
/*@media only screen and (max-width: 769px) {
  .chef-sec{margin-left:0%}
	
}*/
/*
.w-100.d-block {
  width: 33.3%;
}

.w-100 {
  width: 100%!important;
}*/
.icon{text-align: center}
.row.chef-section {
  margin-top: 70px;
}

.col.chef-col {
  margin-right: 60px;
}

.col.chef-col2 {
  margin-right: 60px;
}

.card-group {
  margin-top: 60px;
}

.card-group > .card:not(:last-child) {
  margin-right: 60px;
}

.card-group > .card:not(:last-child) .card-header, .card-group > .card:not(:last-child) .card-img-top {
}

.card-text.text-center {
}

@media only screen and (max-width: 600px) {

 .card-group > .card:not(:last-child) {
  margin-right:0px;
}
}



#dine {
  margin-top: 50px;
}

.shadow-lg {
  background-size: cover;
}

.col {
}

.en-forms {
  display: inline-block;
}

button, input {
  margin-left: 10px;
}

.en2-form {
}

.blog-img {
  margin-top: 60px;
}

.text-center.blog-txt {
  margin-top: 40px;
  padding: 0px 60px;
}

img {
}

img {
  background-size: cover;
}

.newsletter-subscribe {
  background-image: url(../../assets/img/form.jpg);
  background-size: cover;
  transition: initial;

}

.btn:not(:disabled):not(.disabled) {
}

#subscribe {
  margin: 0px;
}

.footer-dark {
  background-color: #252525;
}
.owl-nav{padding-bottom: 30px}
.owl-carousel .owl-nav button.owl-prev
{
	background-color: #736357;
	padding: 5px 30px!important;
	color: white;
}
	
.owl-carousel .owl-nav button.owl-next	
{
	background-color: #736357;
	padding: 5px 30px!important;
	color: white;
}	



.display-7 { font-size: 1rem;}  
.field{    border: 1px solid #ddd;
    background-color: #efefef;
    padding: 10px 20px;
    width: 100%;}

.input-main{width: 100%}
.input-wrap{padding: 0 1rem 1rem 1rem;}
 
/*footer*/
.modal-footer{display: inline-block}

.copyright{color: aliceblue}
.page-text{display: inline-block;color: aliceblue}


.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0  0 40px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
  transform: translateY(-5px);
  border-color: #ef7f4d;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #ef7f4d;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.breadcrumb-item a{color: #4D1D1E}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
	content: ">>";}


#contact{    padding: 5em 0;
  }
.chef-title{color: #ffffff;
    margin-bottom: 1.5em;
    letter-spacing: 2px;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;}
.title-form{font-size: 1.2em;
    color: #ffa41f;
    margin-bottom: 1.5em;
    padding-left: 16px;
    letter-spacing: 1px;
    font-weight: 400;}
.btn-submit{outline: none;
    padding: 15px 0;
    font-size: 12px;
    color: #fff;
    background:  #ffa41f!important;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 1.4em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;}
.btn-submit:hover{    background: #ffa41f;
    color: #000;}





